#navbar {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

#navbar h1 {
    font-size: 2rem;
    color: #fcdfbd;
}

#navbar button {
    cursor: pointer;
    padding: .6rem 2rem;
    border-radius: .4rem;
    border: 1px solid transparent;
    background-color: #fcdfbd;
    font-size: 1.2rem;
    transition: .4s ease all;
}

#navbar button:hover {
    background-color: transparent;
    border: 1px solid #fcdfbd;
    color: white;
}